<!doctype html>

<html lang="en" width="100%" height="100%">

<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Description and mor -->
    <title>Frontpage</title>
    <meta name="description" content="This is the articles page on our website">
    <meta name="author" content="https://biprojekt.herukoapp.com">

    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/col.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/2cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/3cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/4cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/5cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/6cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/7cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/8cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/9cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/10cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/11cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/12cols.css" media="all">

    <link rel="stylesheet" href="css/articles_styling.css" media="all">
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/articles_code.js"></script>

</head>

<body onload="getArticle();" width="100%" height="100%">
    <div id="main" class="section group" width="100%" height="100%">
        <div id="articles" class="col span_12_of_12">
            <object id="pdf" width="100%" height="100%" data=""></object>
        </div>
    </div>

</body>

</html>
