<!doctype html>
<html>

<head>
    <title>Billionær-quizzen</title>
    <meta charset="utf-8">
    <link rel=stylesheet type="text/css" href="css/billionaire_styling.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/billionaire_code.js"></script>

</head>

<body>
    <audio id="correct" src="assets/sounds/correct_answer.mp3" type="audio/mp3"></audio>
    <audio id="wrong" src="assets/sounds/wrong_answer.mp3" type="audio/mp3"></audio>
    <div class="container">
        <div class=picture>
            <img src="css/img/BEE-llionaire.jpg">
            
        </div>
        <div id="start">
            <h1>Velkommen til "Hvem vil være BI-llionær"-quizzen!</h1>
            <p>
                Der er 5 spørgsmål for at blive udnævnt som dagens bi-eksperter! <br> Husk, at I har stadig mulighed for at gøre brug af to livsliner; Spørg klassen eller ring til en klassekammerat. <br>
                Er I klar til at starte?</p>
            <button id="startbtn">Start</button>
        </div>
        <div id="questions">
        </div>
        <div id="nextdiv">
            <button id="nextBtn" hidden="true">Næste spørgsmål</button>
        </div>
    </div>

    <div id="menu" style="background-color: white;">
        <div id="text">Er du sikker?</div>
        <button id="Jabtn">Ja</button>
        <button id="Nejbtn">Nej</button>
    </div>
</body>

</html>
