<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Description and mor -->
    <title>Mainpage</title>
    <meta name="description" content="This is the mainpage of our website">
    <meta name="author" content="https://biprojekt.herukoapp.com">

    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/col.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/2cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/3cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/4cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/5cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/6cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/7cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/8cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/9cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/10cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/11cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/12cols.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/mainpage_styling.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/mainpage_code.js"></script>
</head>

<body>
    <div id="topBar" class="section group">
        <div class="buttonGroup" id="frontpagebt" style="background-image: url('css/img/hexagonButton1.png'); background-repeat: no-repeat; background-size: 100% 100%" onclick="showFrontpage()">
            <p>Forside</p>
        </div>
        <div class="buttonGroup" id="quizbt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showQuiz()">
            <p>Quiz</p>
        </div>
        <div class="buttonGroup" id="DUOBbt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%">
            <p>DUOB</p>
            <div class="dropdown-content">
                <div class="vl"></div>
                <div class="buttonGroup1" id="anatomybt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat; background-size: 100% 100%" onclick="showAnatomy()">
                    <p>Anatomi</p>
                </div>

                <div class="buttonGroup1" id="TTDbt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat; background-size: 100% 100%" onclick="showTTD()">
                    <p>Find bien!</p>
                </div>

                <div class="buttonGroup1" id="beehivebt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showBeehive()">
                    <p>Bikuben</p>
                </div>
                <div class="buttonGroup1" id="lifecyclebt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showLifecycle()">
                    <p>Livscyklus</p>
                </div>

            </div>
        </div>
        <div class="buttonGroup" id="articlesbt" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%">
            <p>Artikler</p>
            <div class="dropdown-content">
                <div class="vl"></div>
                <div class="buttonGroup2" id="article1" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat; background-size: 100% 100%" onclick="showArticle('article1bool')">
                    <p>Artikel 1</p>
                </div>
                <div class="buttonGroup2" id="article2" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showArticle('article2bool')">
                    <p>Artikel 2</p>
                </div>
                <div class="buttonGroup2" id="article3" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showArticle('article3bool')">
                    <p>Artikel 3</p>
                </div>
                <div class="buttonGroup2" id="article4" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showArticle('article4bool')">
                    <p>Artikel 4</p>
                </div>
                <div class="buttonGroup2" id="article5" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showArticle('article5bool')">
                    <p>Artikel 5</p>
                </div>
                <div class="buttonGroup2" id="article6" style="background-image: url( 'css/img/hexagonButton1.png'); background-repeat: no-repeat;background-size: 100% 100%" onclick="showArticle('article6bool')">
                    <p>Artikel 6</p>
                </div>
            </div>
        </div>
    </div>

    <div class="holder section group">
        <iframe class="col span_2_2" id="iframe" width=100% height=100% src="/frontpage"></iframe>
    </div>
</body>

</html>
