#menu {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#text {
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #663300;
    font-family: Verdana;
    font-size: 18;
    border: solid #663300 4px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #FADA5E;
    overflow-y: auto;
    overflow-x: hidden;
}


.beeimagehorizontal {
    float: right;
    height: auto;
    width: 60%;
    margin: 10px;
}

.beeimagevertical {
    float: right;
    height: auto;
    width: 30%;
    margin: 10px;
}

#closebt {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 0px;
}

#closebt:hover {
    cursor: pointer;
}
