body {
    background-color: black;
    font-family: "Helvetica Neue", sans-serif;
}

h1,
p {
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

h1 {
    width: 80%
}

p {
    font-size: 20px;
    padding-bottom: 40px;
}

img {
    width: 100%;
    height: auto;
}

.picture {
    display: block;
    margin: auto;
    width: 25%;
}

#questions {

    max-width: 100%;
    width: 648px;
    color: white;
    margin: auto;
    font-weight: 800;
}

#questionBox {
    border: 5px solid #f7fd81;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 15px;
    position: relative;
    clear: both;
}


#menu {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 20%;
    width: 20%;
    opacity: 0.9;
    text-align: center;
}

#text {
    padding: 10px;
}

#start,
#nextDiv {
    width: 100%;
}

#startbtn,
#nextBtn {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 10px;
    border: 5px solid #f7fd81;
    background-color: black;
    text-align: center;
    color: white;
    padding: 2%;
    display: block;
    margin: auto;
    width: 25%;
clear: left;
}


 

#nextBtn:hover {
    background-color: #FFBF05;
}

#Jabtn,
#Nejbtn {
    position: relative;
    align-content: center;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 28px;
    background: #040708;
    padding: 12px 20px 10px 20px;
    border: solid #fafa2f 2px;
    text-decoration: none;
}

#Jabtn:hover,
#Nejbtn:hover {
    background: #faf03c;
    text-decoration: none;
}
