body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.questionSkabelon {
    background-color: #FADA5E;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    border: 4px solid #663300;
    border-radius: 20px;
}

.questionSkabelon:first-of-type {
    display: none;
}

details {
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 3px #a98307;
    padding: 1%;
}

summary {
    width: 100%;
    display: block;
    font-weight: bold;
    margin: 4px;
}

.answers {
    background-color: #D99520;
    text-align: center;
    position: relative;
    height: 100%;
    line-height: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 3px 10px;
}

.answers ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.nextQuestion {
    text-align: center;
    margin: 0px 10px 0px 10px;
    line-height: 150%;
}

.proceed {
    margin-left: 10px;
}

.checkQuestion {
    margin-bottom: -5px;
}

details summary::-webkit-details-marker {
    background: url(img/beeIcon.png);
    position: relative;
    top: 3px;
    left: 2px;
    background-size: 20px;
    height: 15px;
    width: 20px;
    color: transparent;
}

button {
    border: 2px solid #663300;
    border-radius: 6px;
    background-color: #cc7722;
    font-weight: bold;
}
