/*0.0 HTML og body*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: Verdana;
}

/*2.0 Resten af siden + indhold*/

#main {
    height: 100%;
    margin-top: 2%;
}

#main p {}


#video {
    position: relative;
    padding-top: 30%;
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: black;
    border: 3px solid #663300;
}

#cheats {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    max-height: 60vh;
    transform: translate(0, -100%);
}

#text {
    padding: 2%;
    width: 78.9%;
    color: #663300;
    font-size: 18;
    border: solid #663300 4px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #FADA5E;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
    /*0.0 HTML og body*/
    html,
    body {
        height: 100%;
    }
    /*2.0 Resten af siden + indhold*/
    iframe {
        position: relative;
        z-index: 0;
        width: 100vw;
        height: 56vw;
        background: black;
        border: 2px solid black;
    }

    #cheats {
        position: absolute;
        z-index: 2;
        height: auto;
        width: 100vw;
        height: 56vw;
        transform: translate(0, -100%);
    }
}
