<style > html,
body {
    width: 100%;
    height: 100%;
}

#fullModel {
    width: 99%;
    height: 99%;
    min-width: 800px;
}

#canvas {
    width: 48%;
    height: auto;
    min-height: 400px;
    min-width: 400px;
    max-height: 700px;
    max-width: 700px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;

}

#textBox {
    width: 48%;
    height: auto;
    max-height: 90vh;
    margin: 0;
    padding: 10;
    position: relative;
    float: left;
    text-align: left;
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

}

#textBox h1 {
    text-align: center;
}

.header {
    font-weight: bold;
    text-align: left;
}

.textBoxImage {
    width: 80%;
    text-align: center;
    border-radius: 5%;
    min-width: 0px;
    max-width: 400px;
}

@media only screen and (max-width: 480px) {
    html,
    body {
        height: 100%;
        width: 100%;
        max-width: 480px;
    }

    #fullModel {
        width: 99%;
        height: 99%;
        max-width: 480px;
        min-width: 0px;
    }

    #canvas {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        float: left;
        text-align: center;

    }

    #textBox {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .header {
        font-weight: bold;
    }

    .textBoxImage {
        width: 80%;
        border-radius: 5%;
        max-width: 400px;
    }

}

</style >
