/*0.0 HTML og body*/

html,
body {
    height: 100%;
    min-height: 600px;
    width: 100%;
    font-family: Verdana;
}

.holder {
    height: 85%;
    background: url("img/bee_background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}


/*1.0 Topbaren + indhold*/

#topBar {
    z-index: 1;
    height: 15%;
    overflow: auto;
    background: url("img/hexagonBackground1.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center left;
    white-space: nowrap;
}

.buttonGroup {
    height: 100%;
    width: 140px;
    display: inline-block;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGroup p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGroup:hover>p {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    background: url("img/hexagonButton2.png");
    background-size: 100% 100%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#DUOBbt {
    height: 100%;
    width: 140px;
    display: inline-block;
    border-radius: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    visibility: hidden;
    position: absolute;
    height: 140px;
    min-width: 160px;
    z-index: 1;
}

.vl {
    border: 2px solid #663300;
    background-color: black;
    border-top: none;
    width: 4px;
    height: 300%;
    position: absolute;
    left: 67px;
    top: 0px;
}

.buttonGroupInactive {
    display: block;
    cursor: default;
    height: 80%;
    width: 100px;
    border-radius: 10px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: translate(20px, 0);
}

.buttonGroup1 {
    display: block;
    height: 80%;
    width: 100px;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    transform: translate(20px, 0);
}

.buttonGroup1:hover>p {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    background: url("img/hexagonButton2.png");
    background-size: 100% 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonGroup2 {
    display: block;
    height: 53%;
    width: 100px;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    transform: translate(20px, 0);
}

.buttonGroup2:hover>p {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    background: url("img/hexagonButton2.png");
    background-size: 100% 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/*2.3 Restyle responsive design*/


/*Styling til telefoner*/

@media only screen and (max-width: 480px) {
    html,
    body {
        height: 100%;
        width: 100%;
    }
    /*1.0 Topbaren + indhold*/
    #topBar {
        height: 15%;
    }
    #backButton {
        height: 100%;
        width: 100%
    }
    #backButton button {
        width: 100%;
        height: 100%;
    }
    /*2.0 Resten af siden + indhold*/
    #main {
        height: 85%;
    }
    /*2.2 Interaktionsdelen + indhold*/
    #interaction {
        height: 100%;
    }
    #timeline {
        height: 15%;
    }
    /*2.3 Restyle responsive design*/
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 75%;
    }
    .span_2_of_4 {
        width: 50%;
    }
    .span_1_of_4 {
        width: 25%;
    }
}
