h1 {
    color: #FADA5E;
    text-align: center;
    font-size: 300%;
    margin-top: 5%;
}

img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border: 5px solid #663300;
    border-radius: 5%;
    width: 50%;
    height: 170px;
}

img:hover {
    opacity: .6;
}

#menu {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 5px solid #663300;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: #FADA5E;
}

#menu img {
    height: 50px;
    width: 50px;
    float: right;
    position: relative;
}

#text img {
    border: 8px solid #663300;
    border-radius: 100%;
    width: 30%;
    height: 170px;
    margin-top: 5%;
    margin-left: 5%;
}

#menu img:hover {
    cursor: pointer;
}

#text {
    padding: 10px;
    color: #663300;
    font-size: 250%;
}

#images {
    position: absolute;
    border: 8px solid #663300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #CC7722;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.selectablePics {
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}

.selectablePics img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.selectableHoneyB {
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}

.selectableHoneyB img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
