<head>
    <title>Anatomy</title>
    <!--Imported scripts-->
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/js/biensAnatomi/aframe-orbit-controls-component.js"></script>
    <script src="/js/biensAnatomi/anatomy_code.js"></script>

    <!--Imported stylesheets-->
    <link rel="stylesheet" href="css/anatomy_styling.css">

    <!--On/Off cursor styling scripts-->
    <style>
        .a-canvas.a-grab-cursor:hover {
            cursor: default;
        }

        .a-canvas.a-grab-cursor:active,
        .a-grabbing {
            cursor: default;
        }

    </style>
    <style>
        .a-canvas.a-grab-cursor:hover {
            cursor: pointer;
        }

        .a-canvas.a-grab-cursor:active,
        .a-grabbing {
            cursor: pointer;
        }

    </style>
</head>

<body>
    <div class="aframe">
        <!--The scene + attributes-->
        <a-scene cursor="rayOrigin: mouse" vr-mode-ui="enabled: false">

            <!--Assets to include in scene-->
            <a-assets>
                <!--Skybox-->
                <a-img id="skybox" src="assets/images/skybox1.png" opacity="0.5"></a-img>
                <!--3d bee + 3d mesh-->
                <a-asset-item id="bee" src="assets/models/bee.glb"></a-asset-item>
                <a-asset-item id="bee_body" src="assets/models/bee_fullbody.glb"></a-asset-item>
                <a-asset-item id="bee_eyes" src="assets/models/bee_eyes.glb"></a-asset-item>
                <a-asset-item id="bee_feelers" src="assets/models/bee_feelers.glb"></a-asset-item>
                <a-asset-item id="bee_legs" src="assets/models/bee_legs.glb"></a-asset-item>
                <a-asset-item id="bee_mouth" src="assets/models/bee_mouth.glb"></a-asset-item>
                <a-asset-item id="bee_stinger" src="assets/models/bee_stinger.glb"></a-asset-item>
                <a-asset-item id="bee_wings" src="assets/models/bee_wings.glb"></a-asset-item>
            </a-assets>

            <!--Orbit camera-->
            <a-entity id="camera" camera="fov: 80; zoom: 1;" position="0 0.4 1" orbit-controls="autoRotate: false;
              target: #target;
              enableDamping: true;
              dampingFactor: 0.125;
              rotateSpeed:0.05;
              minDistance:0.5;
              maxDistance:2;" mouse-cursor="">
                <a-entity geometry="primitive:cone; radius-bottom:1; radius-top:0" scale=".33 1 .33" position="0 0 0" rotation="90 0 0" material="color: #0099ff; transparent: true; opacity:0.5">
                </a-entity>
            </a-entity>

            <!--Orbit camera target-->
            <a-entity id="target">
                <!--The 3d bee model-->
                <a-entity gltf-model="#bee" id="bee" position="0 0 -0.3"></a-entity>

                <!--Mesh for eyes-->
                <a-entity gltf-model="#bee_eyes" id="bee_eyes_id" position="0 -0.098 0.11" scale="0.294 0.294 0.294" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for mouth-->
                <a-entity gltf-model="#bee_mouth" id="bee_mouth_id" position="0 -0.172 0.158" scale="0.174 0.19 0.23" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for body-->
                <a-entity gltf-model="#bee_body" id="bee_body_id" position="0.227 -0.115 -0.055" rotation="0 -90 0" scale="0.43 0.48 0.48" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for stinger-->
                <a-entity gltf-model="#bee_stinger" id="bee_stinger_id" position="0 -0.172 -0.315" scale="0.286 0.286 0.286" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for wings-->
                <a-entity gltf-model="#bee_wings" id="bee_wings_id" position="0 0.084 -0.319" scale="0.99 0.99 0.99" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for legs-->
                <a-entity gltf-model="#bee_legs" id="bee_legs_id" position="-0.004 -0.174 -0.242" scale="0.95 0.95 0.95" info-on-click model-opacity="0"></a-entity>

                <!--Mesh for feelers-->
                <a-entity gltf-model="#bee_feelers" id="bee_feelers_id" position="0 -0.066 0.116" scale="0.61 0.61 0.61" info-on-click model-opacity="0"></a-entity>
            </a-entity>

            <!--Sets the skybox-->
            <a-sky src="#skybox"></a-sky>

        </a-scene>
    </div>

    <!--The infobox (hidden by default)-->
    <div id="menu" style="height: 70%; width: 70%;">
        <img id="closebt" src="css/img/exit.png" onclick="showMenu()">
        <div id="text"></div>
    </div>
</body>
