<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Description and mor -->
    <title>Bikuben</title>
    <meta name="description" content="Bikuben">
    <meta name="author" content="https://biprojekt.herukoapp.com">

    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/col.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/2cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/3cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/4cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/5cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/6cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/7cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/8cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/9cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/10cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/11cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/12cols.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/frontpage_styling.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/beehive_code.js"></script>




</head>

<body>
    <div id="main" class="section group">
        <div class="col span_1_of_12" style="min-height: 1px;">
        </div>
        <div id="video" class="col span_10_of_12">
            <!--Importer YouTube video med parameterne autoplay og loop m.m.-->
            <iframe id="youtubeVideo" width="100%" height="100%" src="https://www.youtube.com/embed/disuxq0duok?autoplay=1&showinfo=0&loop=1&mute=1&controls=0&playlist=disuxq0duok" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col span_1_of_12" style="min-height: 1px;">
        </div>
        <div class="section group">
            <div class="col span_1_of_12" style="min-height: 1px;">
            </div>
            <div id="text" class="col span_10_of_12">
                <p>Lorem ipsum dolor sit amet, eripuit platonem adversarium te eum, eos solet nemore blandit ex, error phaedrum percipitur qui an. Accusata adipiscing qui ex. Eirmod graecis convenire vis cu. Unum tantas eripuit vix id. Nam hendrerit efficiantur no. Te laoreet lobortis disputando his, id volutpat argumentum liberavisse sed. Verterem urbanitas scribentur no vel, ut has duis omnesque, alterum senserit has eu. Vim ex noluisse perfecto. Vis oratio lobortis ex, equidem dissentias et mea, labore timeam tractatos ius in. Ea sea indoctum sententiae, at mel atqui putant. Everti scripta inimicus ius et, soleat dolores vel ad, soleat placerat consectetuer ne vix.</p>
            </div>
            <div class="col span_1_of_12" style="min-height: 1px;">
            </div>
        </div>
    </div>
</body>

</html>
