<!DOCTYPE html>
<html>
<!--This is required to load ÆØÅ from the js-file-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>
    <title>Biens livscyklus</title>
    <!--Scripts-->
    <!--The Create.js libraries-->
    <script src="js/lib/easeljs-0.7.1.min.js"></script>
    <script src="js/lib/tweenjs-0.5.1.min.js"></script>
    <script src="js/lib/jquery-3.2.1.min.js"></script>
    <!--Our own code-->
    <script src="js/lifecycle_code.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/lifecycle_styling.css" media="all">
</head>

<body onload="init()">
    <!--The entirety of the model-->
    <div id="fullModel">
        <!-- Canvas with the interactive life cycle-->
        <canvas id="canvas" width="600px" height="600px"></canvas>
        <!-- Static textbox with changing contents-->
        <div id="textBox"></div>
    </div>
</body>

</html>
