<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/col.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/2cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/3cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/4cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/5cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/6cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/7cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/8cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/9cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/10cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/11cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/12cols.css" media="all">
    <link rel="stylesheet" href="css/CSS_Quiz.css">
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/Javascript_Quiz.js"></script>
    <title></title>
</head>

<body onload="nextQuestion()" class="section group">
    <div class="section group">
        <div class="col span_1_of_6" style="min-height: 1px;">
        </div>
        <div class="col span_4_of_6">
            <details class="questionSkabelon" open>
                <summary class="question">Def</summary>
                <div class="answers">
                    <ul>
                        <input type="radio" value="a" class="qa"><label></label><br/>
                        <input type="radio" value="b" class="qb"><label></label><br/>
                        <input type="radio" value="c" class="qc"><label></label><br/>
                        <input type="radio" value="d" class="qd"><label></label><br/>
                    </ul>
                </div>
                <div class="nextQuestion">
                    <button type="button" class="checkQuestion" onclick="checkQuestion()">Tjek Svar</button>
                    <button hidden type="button" class="proceed" onclick="nextQuestion()">Næste Spørgsmål</button>
                </div>
            </details>
        </div>
        <div class="col span_1_of_6" style="min-height: 1px;">
        </div>
    </div>

</body>

</html>
