<!DOCTYPE html>

<html>

<head>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/TellTheDifference.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/responsivegridsystem/html5reset.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/col.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/2cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/3cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/4cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/5cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/6cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/7cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/8cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/9cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/10cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/11cols.css" media="all">
    <link rel="stylesheet" href="css/responsivegridsystem/12cols.css" media="all">
    <link href="css/tellTheDifference.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="section group">

        <div class="col span_1_of_6" style="min-height: 1px;"></div>
        <div class="col span_4_of_6">
            <h1>Kan du spotte honningbien?</h1>
            <div class="section group" id="images">

            </div>
        </div>
        <div class="col span_1_of_6" style="min-height: 1px;"></div>
    </div>

    <div id="menu" style="height: 30%; width: 30%;">
        <img src="css/img/exit.png" onclick="showMenu()">
        <div id="text"></div>
    </div>
</body>


</html>
