/*  GRID OF TWO   ============================================================================= */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 50%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_2_of_2 {
        width: 100%;
    }
    .span_1_of_2 {
        width: 100%;
    }
}
