/*  GRID OF FOUR   ============================================================================= */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 75%;
}

.span_2_of_4 {
    width: 50%;
}

.span_1_of_4 {
    width: 25%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 100%;
    }
    .span_2_of_4 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%;
    }
}
