/*  GRID OF EIGHT   ============================================================================= */

.span_8_of_8 {
    width: 100%;
}

.span_7_of_8 {
    width: 87.5%;
}

.span_6_of_8 {
    width: 75%;
}

.span_5_of_8 {
    width: 62.5%;
}

.span_4_of_8 {
    width: 50%;
}

.span_3_of_8 {
    width: 37.5%;
}

.span_2_of_8 {
    width: 25%;
}

.span_1_of_8 {
    width: 12.5%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_8_of_8 {
        width: 100%;
    }

    .span_7_of_8 {
        width: 87.5%;
    }

    .span_6_of_8 {
        width: 75%;
    }

    .span_5_of_8 {
        width: 62.5%;
    }

    .span_4_of_8 {
        width: 50%;
    }

    .span_3_of_8 {
        width: 37.5%;
    }

    .span_2_of_8 {
        width: 25%;
    }

    .span_1_of_8 {
        width: 12.5%;
    }
}
